@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: white;
}

body {
    background-color: white;
}

.row {
    position: relative;
    border-bottom: 1px solid #e3e3e3
}

.row__remove {
    display: flex;
    padding: 0;
    position: absolute;
    top: 10px;
    right: -20px;
    opacity: 0;
    transition: opacity .2s ease-in-out
}

.row:focus-within .row__remove,
.row:hover .row__remove {
    opacity: 1
}

input,
select,
textarea {
    outline: 0
}

select {
    outline: 0
}

button {
    border-radius: 3px
}

textarea {
    resize: vertical
}

button.link,
textarea {
    background: transparent
}

button.link {
    display: flex;
    align-items: center;
    border: 0;
    color: #428bca
}

button.link:focus,
button.link:hover {
    text-decoration: underline
}

button.link:focus {
    outline: 1px dotted #66afe9;
    opacity: 1
}

h1 {
    margin-top: 0;
    margin-bottom: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-30 {
    margin-top: 30px
}

.mt-20 {
    margin-top: 20px
}

.mt-10 {
    margin-top: 10px
}

.mb-5 {
    margin-bottom: 5px
}

.mr-10 {
    margin-right: 10px
}

.ml-30 {
    margin-left: 30px
}

.p-4-8 {
    padding: 4px 8px
}

.p-5 {
    padding: 5px
}

.pb-10 {
    padding-bottom: 10px
}

.right {
    text-align: right
}

.center {
    text-align: center
}

.icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 50%
}

.icon-absolute {
    position: absolute
}

.icon-remove:after,
.icon-remove:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    left: 7px;
    top: 3px;
    background-color: #fff
}

.icon-remove:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.icon-remove:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.icon-add:after,
.icon-add:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    left: 7px;
    top: 3px;
    background-color: #fff
}

.icon-add:after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.app {
    margin: 30px auto 50px;
    width: 700px
}

.image__edit,
.image__remove {
    background: #999 no-repeat 50%;
    background-size: 10px 10px;
    border: 0;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    text-indent: -9999em;
    opacity: 0;
    transition: opacity .2s, background-color .2s
}

.image__edit:focus,
.image__edit:hover,
.image__remove:focus,
.image__remove:hover {
    background-color: #666
}

.image:focus-within .image__edit,
.image:focus-within .image__remove,
.image:hover .image__edit,
.image:hover .image__remove {
    opacity: 1
}

.image__edit {
    background-image: url(/images/resize.svg);
    right: 20px
}

.image__remove {
    background-image: url(/images/remove.svg);
    right: -10px
}

.image__width-wrapper {
    background-color: #fff;
    padding: 10px 20px 25px;
    margin: 10px;
    position: absolute;
    width: 288px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}