@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    min-height: 100%;
}

.image__edit,
.image__remove {
    background: #999 no-repeat 50%;
    background-size: 10px 10px;
    border: 0;
    border-radius: 50%;
    padding: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -10px;
    text-indent: -9999em;
    opacity: 0;
    transition: opacity .2s, background-color .2s
}

.image__edit:focus,
.image__edit:hover,
.image__remove:focus,
.image__remove:hover {
    background-color: #666
}

.image:focus-within .image__edit,
.image:focus-within .image__remove,
.image:hover .image__edit,
.image:hover .image__remove {
    opacity: 1
}

.image__edit {
    background-image: url(/images/resize.svg);
    right: 20px
}

.image__remove {
    background-image: url(/images/remove.svg);
    right: -10px
}

.image__width-wrapper {
    background-color: #fff;
    padding: 10px 20px 25px;
    margin: 10px;
    position: absolute;
    width: 288px;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}